body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f3f3f3;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
